body {
    padding-top: 0px;
    font-size:12px;
    background-attachment: fixed;
    background-color: #444444;
    background-image: url("../media/uploads/icons_and_backgrounds/body_background.jpg");
    background-position: left top;
    background-repeat: repeat;
}


.container {
    width: 1200px;
}

.navbar .container {
    width: 1200px;
}

.navbar-fixed-top {
    position: static;
    background: none;
    margin-bottom: 15px;
}

/* We hide the "Home" menuitem, since we use the "Hovedsiden"-page as the homepage. */
#dropdown-menu-home {
    display: none;
}

.sidebar .panel-body {
    padding: 5px;
}

.sidebar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}


.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 6px;
    padding-right: 6px;
}

.sidebar ul li {
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 22px;
    background-image: url("../media/images/bulletgray.png");
}
.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}

.breadcrumb > .active {
    color: #000000;
}
.pors-main-content {
    padding-top: 15px;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 15px;
}


footer {
    border-top: 1px solid #E7E7E7;
    margin-top: 0;
    padding: 0;
}

.pors-sidebar ul {
    list-style: none outside none;
    padding: 0;
}

.pors-sidebar ul li {
    padding-left: 22px;
    background-image: url("../media/images/bulletgray.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
}

a, a:visited {
    color: #787878;
}
a {
    text-decoration: none;
}

h1, h2, h3 {
    color: #000;
    margin: 3px 0 2px;
    padding-bottom: 4px;
    border-bottom: dotted 1px #CCCCCC;
}


h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
    border-top: 1px dotted #CCCCCC;
}


.post .date span.day {
    color: #FFFFFF;
    font: 100%/100% Arial,Helvetica,sans-serif;
    padding: 0;
    text-align: center;
}
.post .date span.month {
    color: #FFFFFF;
    display: block;
    font: 50% Arial,Helvetica,sans-serif;
    height: 12px;
    padding-top: 2px;
    text-align: center;
}
.post .date span.year {
    color: #FFFFFF;
    display: block;
    font: 50% Arial,Helvetica,sans-serif;
    height: 12px;
    padding-top: 0;
    text-align: center;
}
.post .title {
    float: left;
    margin-left: 10px;
    width: 92%;
}

h1.posttitle a, h1.posttitle a:visited, h2.posttitle a, h2.posttitle a:visited {
    color: #000000;
    text-decoration: none;
}

.post .date {
    background: url("../media/images/calgray-1.png") no-repeat scroll 0 0 transparent;
    float: left;
    font: 150%/100% Arial,Helvetica,sans-serif;
    height: 48px;
    padding: 0;
    text-align: center;
    width: 48px;
}

.post .date span.day, .post .date span.month, .post .date span.year {
    color: #444444;
}

.fix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.post span.author {
    float: left;
    padding-right: 10px;
}
span.author {
    color: #AAAAAA;
    display: inline-block;
    float: left;
    max-width: 250px;
}
.post-footer {
    font-size: 91.67%;
    margin: 5px 0;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
}
